<div class="staff">
	{{!-- <img src="assets/images/staff.svg" style="width: 95vw; position: absolute;"> --}}
	<span>
		{{staff-column}}
		{{staff-column}}
		{{staff-column}}
		{{staff-column}}
		{{staff-column}}
		{{staff-column}}
		{{staff-column}}
		{{staff-column}}
		{{staff-column}}
		{{staff-column}}
	</span>
</div>